# CONFIG

PORT=3001
FRONTEND_URL=http://localhost:5173

# DATABASE

DB_HOST=localhost
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT

JWT_SECRET=
JWT_EXPIRE=7d

# SMTP EMAIL

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=