@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #259d84;
    --color-dark-bg: #020617;
    --color-light-bg: #e4e4e4;
}

html {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #259d84;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f7a68;
}